name: Deploy React App

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: self-hosted

    defaults:
      run:
        shell: powershell
        working-directory: D:\crm\techsynergy-crm

    steps:
      - name: Pull latest code
        run: git pull origin main

      - name: Install dependencies
        run: npm install

      - name: Build React app
        run: npm run build

      - name: Restart server
        run: pm2 restart crm
